html, body {
  margin: 0;
  height: 100%;
  background-color: white; /* Asegurar fondo blanco */
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  width: 350px;
}

.register-container h2 {
  color: #4a56a6;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.register-container p {
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.register-container label {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.register-container input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.register-container input[type="date"]::placeholder {
  color: #aaa;
}

.register-container .half-width,
.register-container .full-width {
  width: 100%;
}

.register-container button {
  padding: 12px;
  background-color: #4a56a6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  transition: background-color 0.3s;
}

.register-container button:hover {
  background-color: #3a458f;
}

/* FLECHA: Ubicada en la esquina superior izquierda con color morado */
.back-button-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-button {
  background: none;
  border: none;
  color: #4a56a6; /* Morado */
  font-size: 25px;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px; /* Bordes redondeados */
  transition: background 0.3s ease;
}

/* Cuando pases el mouse, el fondo será morado claro */
.back-button:hover {
  background: #9ca8f5; /* Un tono de morado claro */
  color: #9ca8f5; /* Morado más oscuro */
}

/* Cuando hagas clic, el fondo será un morado más intenso */
.back-button:active {
  background: #d4a1ff; /* Morado más fuerte */
  color: #4a004a;
}

.register-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}
